<h1>{{ character.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'sfv:detail' %}" method="post">
{%csrf_token %}
    <select id="outcome" name="outcome">
        <option value="" selected>Résultat ?</option>
        <option value="W">Victoire</option>
        <option value="L">Défaite</option>
        <option value="D">Egalité</option>
    </select>
    <input type="submit" value="Valider" />
</form>

<ul>
{% for fight in character.fight_set.all %}
    <li>{{fight.outcome}} {{ fight.fight_date }}</li>
{% endfor %}
</ul>